<article class="post">
  <div class="title">
    <a href="/post/{{id}}"> {{title}}</a>
  </div>
  <div class="body">
    {{post_text}}
  </div>
  <div class="meta">
    <section>posted by {{user.name}} on {{format_date created at}}</section>
  </div>
</article>